<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <head>
      <meta charset="UTF-8" />
      <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <div class="container">
      <h1><%= title %></h1>

      <% messages.forEach(function(message) { %>
      <div class="message">
        <p class="user"><%= message.user %></p>
        <p><%= message.text %></p>
        <p class="date"><%= message.added.toLocaleString() %></p>
      </div>
      <% }); %>

      <a class="button-link" href="/new">Add a New Message</a>
    </div>
  </body>
</html>
